<style>
  .addHover :hover {
      transition: .5s ease;
      opacity: 0.7;
      background: black;
    }
</style>
<script>
  async function rate(id){
    var rating = parseInt(document.getElementById("rate"+id).value);
    console.log("rating");
    if(rating >= 0 && rating <=10){
     const ratingLink = "http://localhost:3000/rate?rating="+rating+"&id="+id;
     console.log(ratingLink);
     location.href = ratingLink;
    }

  }
</script>
<div class = "d-flex align-items-center justify-content-center">
  <h1>Movie catalog</h1>
</div>
<%= button_to "Add new movie", search_path, method: :get%>
<table id = "movies_display"></table>
<% @movies.each do |movie| %>
  <p style = "visibility: hidden;"><%= destroy_path = "http://localhost:3000/destroy?id=#{movie.id}" %></p>
  <ul class = "navbar-nav">
    <li>
      <div class="container" style = "max-width: 90%; height: auto;">
        <a href=<%= destroy_path%> class="addHover">
          <figure class="figure">
            <div class="card-img">
              <img src= <%=movie.image%> class="figure-img img-fluid rounded" alt="A" style = "pointer-events: none">
            </div>
            <figcaption class="figure-caption text-center">
              <h5> <%= movie.name %> </h5>
              <p>Rutime: <%= movie.runtime %></p>
              <p>Release: <%= movie.release %></p>
              <p>Genres: <%= movie.genres %></p>
              <p>Rating: <%= movie.rating %> </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </li>
    <li>
      <ul class="navbar-nav mr-auto" style="width: 60%">
        <li class="nav-item active">
          <input class="form-control mr-sm-2" type="rate" placeholder="Rate movie(0-10)" aria-label="Rate" id="rate<%=movie.id%>">
        </li>
        <li class="nav-item active" style="margin-left: 30px;">
          <button onclick="rate(<%=movie.id%>);">Rate</button>
        </li>
      </ul>
    </li>
  </ul>
<% end%>
