<style>
  .addHover :hover {
      transition: .5s ease;
      opacity: 0.7;
      background: black;
    }
</style>
<div class = "d-flex align-items-center justify-content-center">
  <h1>Movie catalog</h1>
</div>
<%= button_to "Add new movie", search_path, method: :get%>
<table id = "movies_display"></table>
<% @movies.each do |movie| %>
  <%- if movie.rating == nil %>
    <%- rating = "--" %>
  <%- else %>
    <%- rating = movie.rating %>
  <%- end %>
  <p style = "visibility: hidden;"><%= destroy_path = "http://localhost:3000/destroy?id=#{movie.id}" %></p>
  <ul class = "navbar-nav">
    <li>
      <div class="container" style = "max-width: 90%; height: auto;">
        <a href=<%= destroy_path%> class="addHover">
          <figure class="figure">
            <div class="card-img">
              <img src= <%=movie.image%> class="figure-img img-fluid rounded" alt="A" style = "pointer-events: none">
            </div>
            <figcaption class="figure-caption text-center">
              <h5> <%= movie.name %> </h5>
              <p>Rutime: <%= movie.runtime %></p>
              <p>Release: <%= movie.release %></p>
              <p>Genres: <%= movie.genres %></p>
              <p>Rating: <%= rating %> </p>
            </figcaption>
          </figure>
        </a>
      </div>
    </li>
    <li>
      <%= form_with url: rate_path, local: true, method: :post do %>
        <input name="id" style="visibility: hidden;" value =<%= movie.id%>>
        <input name="rating", placeholder="Rate(0-10)"></input>
      <button type="submit">Rate</button>
    <% end %>
  </li>
</ul>
<% end%>
